<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.gitee.zerowsh.actable.demo.mapper.ZeroMapper">

    <select id="getInfo" resultType="io.gitee.zerowsh.actable.demo.entity.ZeroEntity">
        select * from t_zero limit 1
    </select>
</mapper>
